[Unit]
Description=Deluge Daemon Service
After=network.target

[Service]
LimitNOFILE=666666
User=root
UMask=000
ExecStart=/usr/bin/deluged -d -l /log/inexistence/app/deluged.log -L info
ExecStop=/usr/bin/killall -w -s 9 /usr/bin/deluged
Restart=on-failure
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
