[Unit]
Description=Deluge Bittorrent Client Web Interface
After=network.target

[Service]
Type=simple
User=%I
LimitNOFILE=666666
WorkingDirectory=/home/%I/
ExecStart=/usr/bin/deluge-web -l /etc/inexistence/01.Log/delugeweb.log -L info
ExecStop=/usr/bin/killall -w -s 9 /usr/bin/deluge-web
Restart=on-failure

[Install]
WantedBy=multi-user.target
