[Unit]
Description=Deluge Daemon Service
After=network.target

[Service]
LimitNOFILE=infinity
User=root
UMask=000
ExecStart=/usr/bin/deluged -d -l /log/inexistence/app/deluged.log -L info
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target