[Unit]
Description=qBittorrent Daemon Service
After=network.target

[Service]
LimitNOFILE=infinity
User=root
UMask=000
ExecStart=/usr/bin/qbittorrent-nox -d
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target