[Unit]
Description=Transmission Service
After=network.target

[Service]
LimitNOFILE=infinity
User=root
UMask=000
ExecStart=/usr/bin/transmission-daemon --log-error -f -g /root/.config/transmission-daemon -e /root/.config/transmission-daemon/tr.log
ExecReload=/bin/kill -1 $MAINPID
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target