[Unit]
Description=Transmission Service
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/transmission-daemon --log-error -f

[Install]
WantedBy=multi-user.target
