[Unit]
Description=VNCserver
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/vncserver :1 -geometry 1366x768
ExecStop=/usr/bin/vncserver -kill :1
Restart=always
User=root
Type=forking

[Install]
WantedBy=multi-user.target
