<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BDInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
		<BDInfo.Properties.Settings>
   <setting name="GenerateStreamDiagnostics" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GenerateFrameDataFile" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutosaveReport" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FilterLoopingPlaylists" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="KeepStreamOrder" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastPath" serializeAs="String">
    <value />
   </setting>
   <setting name="GenerateTextSummary" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FilterShortPlaylists" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FilterShortPlaylistsValue" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="UseImagePrefix" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UseImagePrefixValue" serializeAs="String">
    <value>video-</value>
   </setting>
   <setting name="EnableSSIF" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExtendedStreamDetails" serializeAs="String">
    <value>False</value>
   </setting>
  </BDInfo.Properties.Settings>
	</userSettings>
</configuration>
